.add-note-form {
    display: flex;
    flex-direction: row;
    max-width: 300px;   

}

.add-note-body-form{
    background-color: #333333;
 }
 
.invalid-input
{   
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

#all
{
    margin-left: 600px;
    background-color: rgb(190, 202, 228);
    width: 300px;
    border: 10px solid rgb(79, 51, 85);
    padding: 50px;
    font-family:cursive;

      
}