.add-note-card {
    width: 100px;
    height: 100px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 152, 230);
    position: absolute;
    top: 190px;
    right: 50px;
}
