.add-note-card {
    width: 200px;
    height: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: absolute;
    top: 108px;
    right: 200px;
}
